-- Add room_map and room_time to schedules
ALTER TABLE public.schedules 
ADD COLUMN IF NOT EXISTS room_map TEXT,
ADD COLUMN IF NOT EXISTS room_time TEXT;

COMMENT ON COLUMN public.schedules.room_map IS 'Specific map for the current room session';
COMMENT ON COLUMN public.schedules.room_time IS 'Specific start time for the current room session (e.g. 22:15)';

